@font-face {
	font-family: 'FrutigerLT-Bold';
	src: url('FrutigerLT-Bold.eot'); /* IE9 Compat Modes */
	src: url('FrutigerLT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('FrutigerLT-Bold.woff') format('woff'), /* Modern Browsers */
	     url('FrutigerLT-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('FrutigerLT-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	}